body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
p {
  margin-bottom: 0px;
}

/*-------------------------------------
        Containers width
-------------------------------------*/

.MuiContainer-maxWidthLg {
  max-width: 100% !important;
  margin: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*-------------------------------------
        Media Queries
-------------------------------------*/

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    min-height: 0px;
  }
}
